body {
    background: #000;
    font-family: sans-serif;
    overflow: hidden; 
}

.welcome {
    display: flex;
    background: red;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image:  url("./images/gameboy.png"),url("./images/fondo.jpg");
    background-size:50vh,auto;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}

#game {
    border: 4px solid #000;
    border-radius: 8px;    
    background-color: #000;
    display: flex;
    margin-top: 5vh;
    margin-left: 7vh;
    height: 31.5vh;
    width: 36vh;
    margin-bottom: 0vh;
}
.btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 21vh;
    margin-right: 26.5vh;
    #up, #down {margin-left: 100%; margin-right: 100%;};
}

button {
    margin-top: 0;
    background-color: #333;
    border-radius: 4px;
    padding: 15px 21px;;
    color: #222;
    margin: 5px 10px 0px;
}
.rotate-button {
    transform: rotate(90deg);
  }

.messages{
    position: absolute;
    font-size: 1rem;
    left: 5vw;
    top: 20%;
}
p {
    text-align: center;    
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    color: #ddf;
    text-shadow: 0 0 5px #1bF,0 0 5px #1bF, 0 0 5px #1bF,0 0 5px #1bF ;
}

#welcome-menu{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
} 

h1 {
    float: left;
    color: #fff;
    position: relative;
    font-size: 8em;
    font-family: press_start_2pregular;
}

h1 span{
    position: absolute;
    right: 0;
    width: 0;
    height: auto;
    background: #000;
    border-left: 0.2em solid #000;
    border-top: 0.5em solid #000;
    animation: maquina 3s infinite alternate steps(8);
    font-family: press_start_2pregular;
    bottom: 1vh;
}

h2{
    font-family: press_start_2pregular;
    font-size: 2em;
}
#start-button {
    font-family: press_start_2pregular;
    color: #fff;
    font-size: 1em;
    transition: 1s linear infinite;
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to{
        width: 0;
    }

}
@media (max-width:700px){
    .messages{ display: flex;
        position:static;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        
    }
    .btns{
        margin-bottom:3vh;
    }
    p{
    margin-top: 0px;
    margin-bottom: 0px;}
    .game-container{
    background-size:50vh,auto;
    background-position: center center;
    background-attachment: fixed;
    }
    h1{
        font-size: 14vw;
    }
    h1 span {
        border-top: 3vw solid #000;
      }
    h2 {
        font-size: 6vw;
      }
    
    #start-button {

        font-size: 6vw;
      }
    }

@media (max-width:500px){
    .btns{
        margin-top:3vh;
    }
    .game-container{
        margin-top: 2.5vh;
    }
   
    .welcome-menu{
        display: none;
    }
  h1 {
    font-size: 18vw;
  }

  h1 span {
    border-top: 4vw solid #000;
  }

  h2 {
    font-size: 8vw;
    left: 0px;
  }

  #start-button {
 
    font-size: 8vw;
  }
}

@media (max-width: 410px) {
    .welcome-menu {
      justify-content: start;
      height: auto;
    }
  
    h1 {
      font-size: 3em;
    }
  
    h1 span {
      border-top: 0.5em solid #000;
      bottom: 0.1em;
    }
  
    h2 {
      font-size: 1em;
    }
  
    #start-button {
      font-size: 0.6em;
    }
  }

@media (max-width: 350px) {
    body {
      min-width: 350px;
      overflow-x: hidden;
    }
}

